<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Notowania giełdowe</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a href="#" class="mdl-navigation__link">Panel kontrolny</a>
        <a href="#" class="mdl-navigation__link">Zarządzaj</a>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content" style="padding: 20px;" *ngIf="stocks">
    <summary [stock]="stocks[0]"></summary>
  </main>
</div>